# Find Sentinel 1 acquisitions that overlap with STK intervals

For convenience, the badge below launches this notebook on Google [Colab](https://colab.research.google.com/).

<a target="_blank" href="https://colab.research.google.com/github/c-core-labs/notebooks/blob/master/notebooks/sentinel-1-acquisitions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Install dependencies

In [1]:
import sys
!{sys.executable} -m pip install pandas python-dateutil sentinelsat

Requirement already satisfied: pandas in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (2.8.2)
Requirement already satisfied: sentinelsat in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: pytz>=2020.1 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from python-dateutil) (1.16.0)
Requirement already satisfied: tqdm>=4.58 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (4.64.1)
Requirement already satisfied: geomet in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (1.0.0)
Requirement already satisfied: geojson>=2 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (2.5.0)
Requirement already satisfied: html2text in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (2020.1.16)
Requirement already satisfied: click>=7.1 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (8.1.3)
Requirement already satisfied: requests in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from sentinelsat) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from requests->sentinelsat) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from requests->sentinelsat) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from requests->sentinelsat) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/jhetzel/.cache/pypoetry/virtualenvs/notebooks-jou60wtj-py3.10/lib/python3.10/site-packages (from requests->sentinelsat) (2.1.1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip

## Import dependencies

In [2]:
from typing import Dict
import datetime
import pandas as pd
from dateutil.parser import parse
from sentinelsat import SentinelAPI, geojson_to_wkt

## SCIHUB credentials

In [3]:
scihub_username = ""
scihub_password = ""

## Path to STK output

In [4]:
path = "sentinel-1-acquisitions.txt"

## Convenience functions to extract start and stop datetimes and data types

In [5]:
def get_start(line: str):
    line_stripped = line.strip()
    start = parse("-".join(line_stripped.split()[1:5]))
    
    return start


def get_end(line: str):
    line_stripped = line.strip()
    start = parse("-".join(line_stripped.split()[5:9]))
    
    return start


def items_to_row(items):
    """Given a list or Sentinel 1 items, summarize which data types are available."""
    row = {
        "raw": False, 
        "grd": False,  
        "slc": False,  
        "ocn": False, 
        "raw_duration": None, 
        "grd_duration": None,
        "slc_duration": None,
        "ocn_duration": None,
        "raw_id": None,
        "grd_id": None,
        "slc_id": None,
        "ocn_id": None,
    }
    for item in items:
        data_type = item["producttype"].lower()
        duration = item["endposition"] - item["beginposition"]
        duration = duration.seconds
        id = item["identifier"]

        row[data_type] = True
        row[f"{data_type}_duration"] = duration
        row[f"{data_type}_id"] = id
        
        
    return row

## Search for Sentinel 1 acquisitions, filtering by millisecond precision
The default search API appears to miss acquisitions if datetime interval is less than a minute. 
This function buffers the datetime interval for the search API, and performs a final precise datetime filter in memory.

In [6]:
def search(
    datetime_start: datetime.datetime,
    datetime_end: datetime.datetime,
    platformname: str = "Sentinel-1",
    timedelta: int = 1,
    verbose: bool = False,
) -> Dict:
    """
    Search Sentinel Hub
    """
    api = SentinelAPI(scihub_username, scihub_password)

    datetime_start_buffered = datetime_start - datetime.timedelta(minutes=timedelta)
    datetime_end_buffered = datetime_end + datetime.timedelta(minutes=timedelta)
    
    if verbose:
        print("Precise datetime range", datetime_start, datetime_end)
        print("Buffered datetime range",datetime_start_buffered, datetime_end_buffered)
    
    results = api.query(
        date=(datetime_start_buffered, datetime_end_buffered),
        platformname=platformname
    )

    items = [item[1] for item in list(results.items()) if item[1]["beginposition"] <= datetime_start and item[1]["endposition"] >= datetime_start]
    row = items_to_row(items)
    
    if len(items):
        print(f"Sentinel 1 acquisition found for {datetime_start} {datetime_end}")
    else:
        print(f"Sentinel 1 acquisition not found for {datetime_start} {datetime_end}")
    
    
    return row

## Read in the STK output and parse date intervals

In [7]:
with open(path) as source:
    lines = source.readlines()
    
starts = []
ends = []

for line in lines[8:]:
    line_stripped = line.strip()
    if line_stripped and line_stripped[0].isdigit():
        start = get_start(line_stripped)
        end = get_end(line_stripped)
        starts.append(start)
        ends.append(end)
        
intervals = pd.DataFrame({"start": starts, "end": ends})
intervals

                     start                     end
0  2022-02-07 05:54:08.340 2022-02-07 05:54:08.457
1  2022-02-13 11:40:15.318 2022-02-13 11:40:15.387
2  2022-02-19 19:51:11.360 2022-02-19 19:51:11.405
3  2022-02-26 12:56:07.603 2022-02-26 12:56:07.660
4  2022-03-05 06:01:02.927 2022-03-05 06:01:02.980
5  2022-03-07 09:49:34.693 2022-03-07 09:49:34.755
6  2022-03-09 12:00:44.707 2022-03-09 12:00:44.772
7  2022-03-13 16:23:36.253 2022-03-13 16:23:36.321
8  2022-03-26 02:22:48.160 2022-03-26 02:22:48.456
9  2022-04-09 13:08:05.246 2022-04-09 13:08:05.397
10 2022-04-24 02:52:36.911 2022-04-24 02:52:36.960
11 2022-04-26 05:52:24.455 2022-04-26 05:52:24.516
12 2022-04-26 06:41:07.085 2022-04-26 06:41:07.150
13 2022-05-02 22:57:24.588 2022-05-02 22:57:24.636
14 2022-05-02 23:46:02.040 2022-05-02 23:46:02.087
15 2022-05-09 16:50:59.328 2022-05-09 16:50:59.381
16 2022-05-13 22:50:42.873 2022-05-13 22:50:42.937
17 2022-05-18 03:13:38.268 2022-05-18 03:13:38.362
18 2022-06-01 14:38:10.681 2022-06-01 14:38:11.045
19 2022-06-28 13:42:35.004 2022-06-28 13:42:35.072
20 2022-06-30 16:42:21.453 2022-06-30 16:42:21.503
21 2022-07-28 19:01:37.897 2022-07-28 19:01:38.046
22 2022-08-22 13:34:45.422 2022-08-22 13:34:45.539
23 2022-09-06 06:31:54.529 2022-09-06 06:31:54.574
24 2022-11-04 07:33:34.226 2022-11-04 07:33:34.289
25 2022-11-10 16:33:10.470 2022-11-10 16:33:10.530
26 2022-11-10 17:21:51.623 2022-11-10 17:21:51.677
27 2022-11-17 11:15:12.657 2022-11-17 11:15:12.712
28 2022-11-17 12:03:50.213 2022-11-17 12:03:50.255
29 2022-11-24 02:43:02.588 2022-11-24 02:43:02.643
30 2022-11-26 05:42:52.134 2022-11-26 05:42:52.194
31 2022-12-12 20:52:45.551 2022-12-12 20:52:45.758
32 2023-01-08 18:23:30.145 2023-01-08 18:23:30.208
33 2023-01-10 20:34:43.716 2023-01-10 20:34:43.770
34 2023-01-15 03:23:01.513 2023-01-15 03:23:01.561
35 2023-01-21 21:16:27.768 2023-01-21 21:16:27.814
36 2023-01-21 22:05:05.275 2023-01-21 22:05:05.325
37 2023-01-28 13:32:55.896 2023-01-28 13:32:55.944
38 2023-01-30 16:32:46.289 2023-01-30 16:32:46.344
39 2023-02-01 18:43:57.673 2023-02-01 18:43:57.740

## Search each interval for Sentinel 1 acquisitions

In [8]:
rows = []

for index, interval in intervals.iterrows():
    row = search(interval.start, interval.end, timedelta=1)
    rows.append(row)
    
acquisition_results = pd.DataFrame(rows)
acquisitions = pd.concat([intervals, acquisition_results], axis=1)
acquisitions

Sentinel 1 acquisition found for 2022-02-07 05:54:08.340000 2022-02-07 05:54:08.457000
Sentinel 1 acquisition not found for 2022-02-13 11:40:15.318000 2022-02-13 11:40:15.387000
Sentinel 1 acquisition not found for 2022-02-19 19:51:11.360000 2022-02-19 19:51:11.405000
Sentinel 1 acquisition not found for 2022-02-26 12:56:07.603000 2022-02-26 12:56:07.660000
Sentinel 1 acquisition found for 2022-03-05 06:01:02.927000 2022-03-05 06:01:02.980000
Sentinel 1 acquisition not found for 2022-03-07 09:49:34.693000 2022-03-07 09:49:34.755000
Sentinel 1 acquisition not found for 2022-03-09 12:00:44.707000 2022-03-09 12:00:44.772000
Sentinel 1 acquisition found for 2022-03-13 16:23:36.253000 2022-03-13 16:23:36.321000
Sentinel 1 acquisition not found for 2022-03-26 02:22:48.160000 2022-03-26 02:22:48.456000
Sentinel 1 acquisition found for 2022-04-09 13:08:05.246000 2022-04-09 13:08:05.397000
Sentinel 1 acquisition not found for 2022-04-24 02:52:36.911000 2022-04-24 02:52:36.960000
Sentinel 1 acquisition not found for 2022-04-26 05:52:24.455000 2022-04-26 05:52:24.516000
Sentinel 1 acquisition not found for 2022-04-26 06:41:07.085000 2022-04-26 06:41:07.150000
Sentinel 1 acquisition found for 2022-05-02 22:57:24.588000 2022-05-02 22:57:24.636000
Sentinel 1 acquisition not found for 2022-05-02 23:46:02.040000 2022-05-02 23:46:02.087000
Sentinel 1 acquisition not found for 2022-05-09 16:50:59.328000 2022-05-09 16:50:59.381000
Sentinel 1 acquisition not found for 2022-05-13 22:50:42.873000 2022-05-13 22:50:42.937000
Sentinel 1 acquisition not found for 2022-05-18 03:13:38.268000 2022-05-18 03:13:38.362000
Sentinel 1 acquisition found for 2022-06-01 14:38:10.681000 2022-06-01 14:38:11.045000
Sentinel 1 acquisition not found for 2022-06-28 13:42:35.004000 2022-06-28 13:42:35.072000
Sentinel 1 acquisition found for 2022-06-30 16:42:21.453000 2022-06-30 16:42:21.503000
Sentinel 1 acquisition not found for 2022-07-28 19:01:37.897000 2022-07-28 19:01:38.046000
Sentinel 1 acquisition not found for 2022-08-22 13:34:45.422000 2022-08-22 13:34:45.539000
Sentinel 1 acquisition not found for 2022-09-06 06:31:54.529000 2022-09-06 06:31:54.574000
Sentinel 1 acquisition not found for 2022-11-04 07:33:34.226000 2022-11-04 07:33:34.289000
Sentinel 1 acquisition not found for 2022-11-10 16:33:10.470000 2022-11-10 16:33:10.530000
Sentinel 1 acquisition found for 2022-11-10 17:21:51.623000 2022-11-10 17:21:51.677000
Sentinel 1 acquisition found for 2022-11-17 11:15:12.657000 2022-11-17 11:15:12.712000
Sentinel 1 acquisition not found for 2022-11-17 12:03:50.213000 2022-11-17 12:03:50.255000
Sentinel 1 acquisition not found for 2022-11-24 02:43:02.588000 2022-11-24 02:43:02.643000
Sentinel 1 acquisition found for 2022-11-26 05:42:52.134000 2022-11-26 05:42:52.194000
Sentinel 1 acquisition not found for 2022-12-12 20:52:45.551000 2022-12-12 20:52:45.758000
Sentinel 1 acquisition found for 2023-01-08 18:23:30.145000 2023-01-08 18:23:30.208000
Sentinel 1 acquisition not found for 2023-01-10 20:34:43.716000 2023-01-10 20:34:43.770000
Sentinel 1 acquisition not found for 2023-01-15 03:23:01.513000 2023-01-15 03:23:01.561000
Sentinel 1 acquisition not found for 2023-01-21 21:16:27.768000 2023-01-21 21:16:27.814000
Sentinel 1 acquisition not found for 2023-01-21 22:05:05.275000 2023-01-21 22:05:05.325000
Sentinel 1 acquisition not found for 2023-01-28 13:32:55.896000 2023-01-28 13:32:55.944000
Sentinel 1 acquisition not found for 2023-01-30 16:32:46.289000 2023-01-30 16:32:46.344000
Sentinel 1 acquisition found for 2023-02-01 18:43:57.673000 2023-02-01 18:43:57.740000

,start,end,raw,grd,slc,ocn,raw_duration,grd_duration,slc_duration,ocn_duration,raw_id,grd_id,slc_id,ocn_id
0,2022-02-07 05:54:08.340,2022-02-07 05:54:08.457,True,True,True,True,34.0,35.0,35.0,35.0,S1A_IW_RAW__0SDV_20220207T055356_20220207T0554...,S1A_IW_GRDH_1SDV_20220207T055356_20220207T0554...,S1A_IW_SLC__1SDV_20220207T055356_20220207T0554...,S1A_IW_OCN__2SDV_20220207T055356_20220207T0554...
1,2022-02-13 11:40:15.318,2022-02-13 11:40:15.387,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
2,2022-02-19 19:51:11.360,2022-02-19 19:51:11.405,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
3,2022-02-26 12:56:07.603,2022-02-26 12:56:07.660,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
4,2022-03-05 06:01:02.927,2022-03-05 06:01:02.980,True,True,True,False,32.0,24.0,26.0,NaN,S1A_IW_RAW__0SDV_20220305T060101_20220305T0601...,S1A_IW_GRDH_1SDV_20220305T060040_20220305T0601...,S1A_IW_SLC__1SDV_20220305T060039_20220305T0601...,None
5,2022-03-07 09:49:34.693,2022-03-07 09:49:34.755,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
6,2022-03-09 12:00:44.707,2022-03-09 12:00:44.772,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
7,2022-03-13 16:23:36.253,2022-03-13 16:23:36.321,False,False,True,True,NaN,NaN,486.0,487.0,None,None,S1A_WV_SLC__1SSV_20220313T162301_20220313T1631...,S1A_WV_OCN__2SSV_20220313T162301_20220313T1631...
8,2022-03-26 02:22:48.160,2022-03-26 02:22:48.456,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
9,2022-04-09 13:08:05.246,2022-04-09 13:08:05.397,True,True,True,False,32.0,24.0,27.0,NaN,S1A_IW_RAW__0SDV_20220409T130800_20220409T1308...,S1A_IW_GRDH_1SDV_20220409T130803_20220409T1308...,S1A_IW_SLC__1SDV_20220409T130737_20220409T1308...,None
10,2022-04-24 02:52:36.911,2022-04-24 02:52:36.960,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
11,2022-04-26 05:52:24.455,2022-04-26 05:52:24.516,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
12,2022-04-26 06:41:07.085,2022-04-26 06:41:07.150,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
13,2022-05-02 22:57:24.588,2022-05-02 22:57:24.636,True,True,True,True,32.0,24.0,26.0,24.0,S1A_IW_RAW__0SDV_20220502T225652_20220502T2257...,S1A_IW_GRDH_1SDV_20220502T225721_20220502T2257...,S1A_IW_SLC__1SDV_20220502T225720_20220502T2257...,S1A_IW_OCN__2SDV_20220502T225721_20220502T2257...
14,2022-05-02 23:46:02.040,2022-05-02 23:46:02.087,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
15,2022-05-09 16:50:59.328,2022-05-09 16:50:59.381,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
16,2022-05-13 22:50:42.873,2022-05-13 22:50:42.937,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
17,2022-05-18 03:13:38.268,2022-05-18 03:13:38.362,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
18,2022-06-01 14:38:10.681,2022-06-01 14:38:11.045,True,True,False,True,68.0,59.0,NaN,59.0,S1A_EW_RAW__0SDV_20220601T143724_20220601T1438...,S1A_EW_GRDM_1SDV_20220601T143728_20220601T1438...,None,S1A_EW_OCN__2SDV_20220601T143728_20220601T1438...
19,2022-06-28 13:42:35.004,2022-06-28 13:42:35.072,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
20,2022-06-30 16:42:21.453,2022-06-30 16:42:21.503,True,True,True,False,32.0,24.0,26.0,NaN,S1A_IW_RAW__0SDV_20220630T164218_20220630T1642...,S1A_IW_GRDH_1SDV_20220630T164156_20220630T1642...,S1A_IW_SLC__1SDV_20220630T164155_20220630T1642...,None
21,2022-07-28 19:01:37.897,2022-07-28 19:01:38.046,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
22,2022-08-22 13:34:45.422,2022-08-22 13:34:45.539,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
23,2022-09-06 06:31:54.529,2022-09-06 06:31:54.574,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
24,2022-11-04 07:33:34.226,2022-11-04 07:33:34.289,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
25,2022-11-10 16:33:10.470,2022-11-10 16:33:10.530,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
26,2022-11-10 17:21:51.623,2022-11-10 17:21:51.677,True,True,True,True,32.0,24.0,26.0,24.0,S1A_IW_RAW__0SDV_20221110T172139_20221110T1722...,S1A_IW_GRDH_1SDV_20221110T172143_20221110T1722...,S1A_IW_SLC__1SDV_20221110T172142_20221110T1722...,S1A_IW_OCN__2SDV_20221110T172143_20221110T1722...
27,2022-11-17 11:15:12.657,2022-11-17 11:15:12.712,True,True,True,True,32.0,29.0,29.0,29.0,S1A_IW_RAW__0SDV_20221117T111503_20221117T1115...,S1A_IW_GRDH_1SDV_20221117T111502_20221117T1115...,S1A_IW_SLC__1SDV_20221117T111502_20221117T1115...,S1A_IW_OCN__2SDV_20221117T111502_20221117T1115...
28,2022-11-17 12:03:50.213,2022-11-17 12:03:50.255,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
29,2022-11-24 02:43:02.588,2022-11-24 02:43:02.643,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
30,2022-11-26 05:42:52.134,2022-11-26 05:42:52.194,True,True,True,False,32.0,24.0,27.0,NaN,S1A_IW_RAW__0SDV_20221126T054248_20221126T0543...,S1A_IW_GRDH_1SDV_20221126T054251_20221126T0543...,S1A_IW_SLC__1SDV_20221126T054250_20221126T0543...,None
31,2022-12-12 20:52:45.551,2022-12-12 20:52:45.758,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
32,2023-01-08 18:23:30.145,2023-01-08 18:23:30.208,True,True,True,True,32.0,24.0,27.0,24.0,S1A_IW_RAW__0SDV_20230108T182257_20230108T1823...,S1A_IW_GRDH_1SDV_20230108T182326_20230108T1823...,S1A_IW_SLC__1SDV_20230108T182325_20230108T1823...,S1A_IW_OCN__2SDV_20230108T182326_20230108T1823...
33,2023-01-10 20:34:43.716,2023-01-10 20:34:43.770,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
34,2023-01-15 03:23:01.513,2023-01-15 03:23:01.561,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
35,2023-01-21 21:16:27.768,2023-01-21 21:16:27.814,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
36,2023-01-21 22:05:05.275,2023-01-21 22:05:05.325,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
37,2023-01-28 13:32:55.896,2023-01-28 13:32:55.944,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
38,2023-01-30 16:32:46.289,2023-01-30 16:32:46.344,False,False,False,False,NaN,NaN,NaN,NaN,None,None,None,None
39,2023-02-01 18:43:57.673,2023-02-01 18:43:57.740,False,False,True,True,NaN,NaN,984.0,985.0,None,None,S1A_WV_SLC__1SSV_20230201T184357_20230201T1900...,S1A_WV_OCN__2SSV_20230201T184357_20230201T1900...

## Save acquisition results to csv file

In [9]:
start_date = acquisitions.iloc[0].start.isoformat()
csv_filename = f"{start_date}.csv"
acquisitions.to_csv(csv_filename)
print(f"CSV file saved to {csv_filename}")

CSV file saved to 2022-02-07T05:54:08.340000.csv